<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizAble</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="../Static/resources/image.png" alt="Logo" class="logo">
            <h3></h3>
        </header>
        <div class="form-container">
            <h2>Enter Your Details To Get Started!</h2>
            <form>
                <input type="text" placeholder="First Name" required>
                <input type="email" placeholder="Surname" required>
                <input type="text" placeholder="Email" required>
                <input type="text" placeholder="Age" required>
                <button type="submit">Start Quiz</button>
            </form>
        </div>
    </div>
</body>
</html>