<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizAble Scoreboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/score.css') }}"> 
</head>
<body>
    <nav>
        <div class="nav-div">
            <img src="{{ url_for('static', filename='resources/image.png') }}" alt="Logo" class="logo">
            <h3>QuizAble</h3>
        </div>
    </nav>

    <div class="container">
        <h1>Discover your QuizAble score</h1>
        
        <div class="score-box">Technical Score: <span id="tech-score">{{ technical_score }}</span></div>
        <div class="score-box">General Score: <span id="gen-score">{{ general_score }}</span></div>

        <div class="score-box">
            Overall Score: <span id="overall-score">{{ total_score }}</span> / 20 
            ({{ percentage }}%)
        </div>

        <div class="congratulations" id="congratulations">
            <h2>{{ pass_message }}</h2>
        </div>
        <div class="btn-div">
            <div class="button-container">
                <button><a href="{{ url_for('retake_quiz') }}" id="retake-btn" class="btn retake-btn">Retake Quiz</a></button>
            </div>
            <div class="button-container">
                <button><a href="{{ url_for('index') }}" class="landing-btn">Home</a></button>
            </div>            
        </div>

        
    </div>

    <script src="../static/javascript/score.js"></script>
</body>
</html>
